{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Blog</title>

    <!-- Adding Bootstrap CSS to this file & import fonts -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/myCSBlog.css' %}">

    <meta charset="UTF-8">
</head>
<body>
    <div class="page-header">
        <h1><a href="{% url 'post-list' %}">The CS Blog</a></h1>
    </div>
    <div class="content container">
        <!-- Block for HTML content to be auto-inserted into-->
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>