{% extends 'myCSBlog/base.html' %}

<!--HTML Block to display a post-->
{% block content %}
    <div class="post grid">
        {% if post.published_date %}

            <div class="post-body">
                <h2>{{ post.title }}</h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>

            {% if user.is_authenticated %}
                <!-- Style built into bootstrap -->
                <a class="post-edit btn btn-default" href="{% url 'postEdit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            {% endif %}

            <div class="post-date date">
                <p>published: {{ post.published_date }}</p>
            </div>

        {% else %}
            <div class="post">
                <h2>Sorry! This post has not been published.</h2>
            </div>
        {% endif %}
    </div>
    <div class="link-btn linked">
        <h2><a href="{% url 'post-list' %}">Home</a></h2>
    </div>
{% endblock %}