{% extends 'myCSBlog/base.html' %}

<!--HTML Block to display a post-->
{% block content %}
    <div class="post-container">
        <div class="post">

            <a class="link-btn post-home" href="{% url 'post-list' %}"><span class="glyphicon glyphicon-home"></span></a>

            {% if post.published_date %}

                <div class="post-heading"><h2 >{{ post.title }}</h2></div>

                <div class="post-body"><p>{{ post.text|linebreaksbr }}</p></div>

                <div class="post-date date"><p>published: {{ post.published_date }}</p></div>

                {% if user.is_authenticated %}
                    <a class="link-btn post-edit" href="{% url 'postEdit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                {% endif %}

            {% else %}
                <div class="post-body">
                    <h2>Sorry! This post has not been published.</h2>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}